* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.App {
    height: 100vh;
    width: 100vw;
    background: crimson;
    overflow-y: auto;
}

.single_demon_header {
    background: crimson;
    height: 5%;
    display: flex;
    align-items: center;
}

.single_demon_content_wrap {
    height: 95%;
    background: rgb(0, 0, 0);
    width: 100%;
    position: sticky;
}

.single_demon_content {
    width: 700px;
    background: rgb(34, 34, 34);
    background: black;

    height: 100%;
    padding: 10px 30px;
    color: white;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    /* border-left: 2px solid rgb(75, 75, 75) ;
    border-right: 2px solid rgb(75, 75, 75) ; */

}

.single_demon_bottom_content {
    background: black;
    display: flex;
    height: 500px;
}

.back_btn {
    width: 70px;
    color: crimson;
    background: rgb(0, 0, 0);
    margin-left: 10px;
    height: 24px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back_btn a {
    color: crimson;
    text-decoration: none;
}

.single_demon_name {
    font-size: 18px;
    color: crimson;
    height: 70px;
    width: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.single_demon_description {
    /* border-top: 3px solid rgb(73, 73, 73); */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    flex-direction: column;
    background: black;
    gap: 10px;
    color: crimson;
    color: black;
}

.single_demon_wrapper {
    height: 100%;
}


.descrip  {
    margin: auto;
    overflow-y: auto;
    margin-bottom: 10px;
    width: 90%;
}

.descrip p {
    margin-bottom: 15px;
}

.descrip_wrap {
    overflow-y: auto;
    

}

.single_demon_img {
    height: 300px;
}

.description_title {
    font-weight: 700;
    width: 500px;
    font-size: 17px;
    font-style: italic;
}

.single_demon_description_wrap {
    background: black;
   
    color: crimson;
    width: 350px;

}


/* DEMONLIST */

.demonlist_img {
    height: 100px;
}

.demon-snippet {
    border-bottom: 1px solid rgb(100, 100, 100);
    padding: 0 20%;
    background: black;
    color: white;
    padding-bottom: 10px;
}

.demon-list {
    background: black;
    width: 100%;
    height: 100%;
}

.demon-list a {
    color: white;
    text-decoration: none;
}

.demon-list h1 {
    color: white;
    text-align: center;
    padding: 20px;
}

.search {
    text-align: center;
    color: white;
}

.search input {
    height: 22px;
    width: 200px;
    border: none;
    border-bottom: 2px solid grey;
}