* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.App {
    height: 100vh;
    width: 100vw;
    background: black;
}

.single_demon_header {
    background: crimson;
    color: greenyellow;
    height: 5%;
    display: flex;
    align-items: center;

}

.single_demon_content {
    width: 500px;
    background: rgb(34, 34, 34);
    background: black;
    height: 75%;
    padding: 10px 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    border-left: 2px solid crimson ;
    border-right: 2px solid crimson ;

}

.back_btn {
    width: 70px;
    background: gray;
    margin-left: 10px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}

.single_demon_name {
    font-size: 18px;
    color: white;
    height: 70px;
    width: 100%;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single_demon_description {
    background: crimson;
    width: 100vw;
    min-height: 20%;
}

.single_demon_wrapper {
    height: 100%;
}