* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.App {
    height: 100vh;
    width: 100vw;
    background: black;
    overflow-y: auto;
}

.single_demon_header {
    background: crimson;
    color: greenyellow;
    height: 5%;
    display: flex;
    align-items: center;

}

.single_demon_content {
    width: 500px;
    background: rgb(34, 34, 34);
    background: black;
    height: 65%;
    padding: 10px 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    border-left: 2px solid crimson ;
    border-right: 2px solid crimson ;

}

.back_btn {
    width: 70px;
    background: gray;
    margin-left: 10px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}

.single_demon_name {
    font-size: 18px;
    color: white;
    height: 70px;
    width: 100%;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.single_demon_description {
    border-top: 2px solid crimson;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 59px;
    overflow-y: auto;
    flex-direction: column;
    gap: 10px;
    color: crimson;


}

.single_demon_wrapper {
    height: 100%;
}

.descrip  {
    width: 450px;
    color: crimson;
    margin: auto;
    overflow-y: auto;
    
}

.descrip_wrap {
    height: 120px;
    width: 480px;
    overflow-y: auto;
    padding: 5px 0;
    border-left: 2px solid crimson;
    background: black;
    

}

.single_demon_img {
    height: 300px;
}

.description_title {
    width: 480px;
    font-size: 20px;
    font-weight: bold;
}